<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWa1yBTvjV70G7VnzgptNOxFr51fmlyBs</string>
	<key>GCM_SENDER_ID</key>
	<string>117205480809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeedevs.adminPanelEcom.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-comm-d12e1</string>
	<key>STORAGE_BUCKET</key>
	<string>e-comm-d12e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117205480809:ios:4addad604836fc52f8f9f8</string>
</dict>
</plist>